In [61]:
import pandas as pd
import matplotlib.pyplot as plt
import datetime
from scipy.stats import ttest_ind_from_stats

In [13]:
data = pd.read_csv("data.csv")

In [14]:
data.head()

  get_on_train get_off_train get_on_blue get_off_blue get_to_car get_home
0        16:50         16:51       16:55        17:31        NaN      NaN
1        16:48         16:50       16:55        17:30      17:34    17:54
2        16:57         16:59       17:04        17:41      17:45    18:00
3        16:26         16:27       16:30        17:09      17:13    17:27

In [15]:
lazy=data.copy()

In [16]:
lazy.dropna(inplace=True)

In [17]:
lazy.reset_index(drop=True,inplace=True)

In [18]:
lazy

  get_on_train get_off_train get_on_blue get_off_blue get_to_car get_home
0        16:48         16:50       16:55        17:30      17:34    17:54
1        16:57         16:59       17:04        17:41      17:45    18:00
2        16:26         16:27       16:30        17:09      17:13    17:27

In [19]:
lazy.dtypes

get_on_train     object
get_off_train    object
get_on_blue      object
get_off_blue     object
get_to_car       object
get_home         object
dtype: object

In [20]:
#inspiration https://stackoverflow.com/questions/14295673/convert-string-into-datetime-time-object

for column in lazy.columns:
    lazy[column] = lazy[column].map(lambda x:datetime.datetime.strptime(x,'%H:%M').time() )

In [21]:
lazy['time_of_commute']=""

for i in range(len(lazy.time_of_commute)):
    lazy['time_of_commute'][i]=\
    datetime.datetime.combine(datetime.date.today(),lazy['get_home'][i])-\
    datetime.datetime.combine(datetime.date.today(),lazy['get_on_train'][i])

In [22]:
lazy['train_len_red'] = ""
for i in range(len(lazy.time_of_commute)):
    lazy['train_len_red'][i]=\
    datetime.datetime.combine(datetime.date.today(),lazy['get_off_train'][i])-\
    datetime.datetime.combine(datetime.date.today(),lazy['get_on_train'][i])

In [23]:
lazy['wait_for_blue'] = ""
for i in range(len(lazy.time_of_commute)):
    lazy['wait_for_blue'][i]=\
    datetime.datetime.combine(datetime.date.today(),lazy['get_on_blue'][i])-\
    datetime.datetime.combine(datetime.date.today(),lazy['get_off_train'][i])

In [24]:
lazy['train_len_blue'] = ""
for i in range(len(lazy.time_of_commute)):
    lazy['train_len_blue'][i]=\
    datetime.datetime.combine(datetime.date.today(),lazy['get_off_blue'][i])-\
    datetime.datetime.combine(datetime.date.today(),lazy['get_on_blue'][i])

In [25]:
lazy['walk_len'] = ""
for i in range(len(lazy.time_of_commute)):
    lazy['walk_len'][i]=\
    datetime.datetime.combine(datetime.date.today(),lazy['get_to_car'][i])-\
    datetime.datetime.combine(datetime.date.today(),lazy['get_off_blue'][i])

In [26]:
lazy['drive_len_home'] = ""
for i in range(len(lazy.time_of_commute)):
    lazy['drive_len_home'][i]=\
    datetime.datetime.combine(datetime.date.today(),lazy['get_home'][i])-\
    datetime.datetime.combine(datetime.date.today(),lazy['get_to_car'][i])

In [27]:
lazy.columns

Index(['get_on_train', 'get_off_train', 'get_on_blue', 'get_off_blue',
       'get_to_car', 'get_home', 'time_of_commute', 'train_len_red',
       'wait_for_blue', 'train_len_blue', 'walk_len', 'drive_len_home'],
      dtype='object')

In [28]:
for column in ['time_of_commute', 'train_len_red',
       'wait_for_blue', 'train_len_blue', 'walk_len', 'drive_len_home']:
    lazy[column] = lazy[column].map(lambda x: x.seconds)

In [29]:
for column in ['time_of_commute', 'train_len_red',
       'wait_for_blue', 'train_len_blue', 'walk_len', 'drive_len_home']:
    lazy[column] = lazy[column].map(lambda x: x/60)

In [31]:
for column in ['time_of_commute', 'train_len_red',
       'wait_for_blue', 'train_len_blue', 'walk_len', 'drive_len_home']:
    print(column+" median is  "+str(lazy[column].median()))

time_of_commute median is  63.0
train_len_red median is  2.0
wait_for_blue median is  5.0
train_len_blue median is  37.0
walk_len median is  4.0
drive_len_home median is  15.0

In [32]:
data['get_to_car'][0]="17:35"
data['get_home'][0]="17:50"

In [33]:
#inspiration https://stackoverflow.com/questions/14295673/convert-string-into-datetime-time-object

for column in data.columns:
    data[column] = data[column].map(lambda x:datetime.datetime.strptime(x,'%H:%M').time() )

In [45]:
data['time_of_commute']=""

for i in range(len(data.time_of_commute)):
    data['time_of_commute'][i]=\
    datetime.datetime.combine(datetime.date.today(),data['get_home'][i])-\
    datetime.datetime.combine(datetime.date.today(),data['get_on_train'][i])

In [37]:
data['train_len_red'] = ""
for i in range(len(data.time_of_commute)):
    data['train_len_red'][i]=\
    datetime.datetime.combine(datetime.date.today(),data['get_off_train'][i])-\
    datetime.datetime.combine(datetime.date.today(),data['get_on_train'][i])

In [38]:
data['wait_for_blue'] = ""
for i in range(len(data.time_of_commute)):
    data['wait_for_blue'][i]=\
    datetime.datetime.combine(datetime.date.today(),data['get_on_blue'][i])-\
    datetime.datetime.combine(datetime.date.today(),data['get_off_train'][i])

In [39]:
data['train_len_blue'] = ""
for i in range(len(data.time_of_commute)):
    data['train_len_blue'][i]=\
    datetime.datetime.combine(datetime.date.today(),data['get_off_blue'][i])-\
    datetime.datetime.combine(datetime.date.today(),data['get_on_blue'][i])

In [43]:
data['walk_len'] = ""
for i in range(len(data.time_of_commute)):
    data['walk_len'][i]=\
    datetime.datetime.combine(datetime.date.today(),data['get_to_car'][i])-\
    datetime.datetime.combine(datetime.date.today(),data['get_off_blue'][i])

In [41]:
data['drive_len_home'] = ""
for i in range(len(data.time_of_commute)):
    data['drive_len_home'][i]=\
    datetime.datetime.combine(datetime.date.today(),data['get_home'][i])-\
    datetime.datetime.combine(datetime.date.today(),data['get_to_car'][i])

In [46]:
data

,get_on_train,get_off_train,get_on_blue,get_off_blue,get_to_car,get_home,time_of_commute,train_len_red,wait_for_blue,train_len_blue,walk_len,drive_len_home
0,16:50:00,16:51:00,16:55:00,17:31:00,17:35:00,17:50:00,1:00:00,0:01:00,0:04:00,0:36:00,0:04:00,0:15:00
1,16:48:00,16:50:00,16:55:00,17:30:00,17:34:00,17:54:00,1:06:00,0:02:00,0:05:00,0:35:00,0:04:00,0:20:00
2,16:57:00,16:59:00,17:04:00,17:41:00,17:45:00,18:00:00,1:03:00,0:02:00,0:05:00,0:37:00,0:04:00,0:15:00
3,16:26:00,16:27:00,16:30:00,17:09:00,17:13:00,17:27:00,1:01:00,0:01:00,0:03:00,0:39:00,0:04:00,0:14:00

In [47]:
for column in ['time_of_commute', 'train_len_red',
       'wait_for_blue', 'train_len_blue', 'walk_len', 'drive_len_home']:
    data[column] = data[column].map(lambda x: x.seconds)

In [48]:
for column in ['time_of_commute', 'train_len_red',
       'wait_for_blue', 'train_len_blue', 'walk_len', 'drive_len_home']:
    data[column] = data[column].map(lambda x: x/60)

In [54]:
data

,get_on_train,get_off_train,get_on_blue,get_off_blue,get_to_car,get_home,time_of_commute,train_len_red,wait_for_blue,train_len_blue,walk_len,drive_len_home
0,16:50:00,16:51:00,16:55:00,17:31:00,17:35:00,17:50:00,60.0,1.0,4.0,36.0,4.0,15.0
1,16:48:00,16:50:00,16:55:00,17:30:00,17:34:00,17:54:00,66.0,2.0,5.0,35.0,4.0,20.0
2,16:57:00,16:59:00,17:04:00,17:41:00,17:45:00,18:00:00,63.0,2.0,5.0,37.0,4.0,15.0
3,16:26:00,16:27:00,16:30:00,17:09:00,17:13:00,17:27:00,61.0,1.0,3.0,39.0,4.0,14.0

In [49]:
for column in ['time_of_commute', 'train_len_red',
       'wait_for_blue', 'train_len_blue', 'walk_len', 'drive_len_home']:
    print(column+" median is  "+str(data[column].median()))

time_of_commute median is  62.0
train_len_red median is  1.5
wait_for_blue median is  4.5
train_len_blue median is  36.5
walk_len median is  4.0
drive_len_home median is  15.0

In [64]:
for column in ['time_of_commute', 'train_len_red',
       'wait_for_blue', 'train_len_blue', 'walk_len', 'drive_len_home']:
    print(column+" mean is  "+str(data[column].mean()))

time_of_commute mean is  62.5
train_len_red mean is  1.5
wait_for_blue mean is  4.25
train_len_blue mean is  36.75
walk_len mean is  4.0
drive_len_home mean is  16.0

In [53]:
for column in ['time_of_commute', 'train_len_red',
       'wait_for_blue', 'train_len_blue', 'walk_len', 'drive_len_home']:
    print(column+" standard deviation is  "+str(round(data[column].std(),2)))

time_of_commute standard deviation is  2.65
train_len_red standard deviation is  0.58
wait_for_blue standard deviation is  0.96
train_len_blue standard deviation is  1.71
walk_len standard deviation is  0.0
drive_len_home standard deviation is  2.71

In [67]:
def confidence_interval(listy):
    average = listy.mean()
    z=1.96
    n=len(listy)
    
    std = listy.std()
    print(std)
    
    return (average+1.96*(std/(n**0.5)),average-1.96*(std/(n**0.5)))

In [68]:
confidence_interval(data['time_of_commute'])

2.6457513110645907

(65.0928362848433, 59.9071637151567)

In [62]:
data['time_of_commute'].mean(),data['time_of_commute'].std(),len(data['time_of_commute'])

(62.5, 2.6457513110645907, 4)

In [63]:
#from previous part
#time of commute mean, std, and len
#(73.92307692307692, 9.105506927692517, 13)


ttest_ind_from_stats(62.5, 2.6457513110645907, 4,
                     73.92307692307692, 9.105506927692517, 13,
                     equal_var=False
                    )

Ttest_indResult(statistic=-4.006811830156987, pvalue=0.0011464308811878615)