In [1]:
import pandas as pd
import praw
import datetime as dt
from psaw import PushshiftAPI
import time

In [2]:
# #credit to nate


# def get_date(created):
#     return dt.datetime.fromtimestamp(created)

In [3]:
#following cells were taken from Heather Robbins Lesson
reddit = praw.Reddit(client_id = 'z0kFNVU4LySc_A',     #this is that personal use script key
                     client_secret = 'M0Pt_9h3GsIk7aGLtwmChlC5i8w', #this is that secret key
                     user_agent = 'Scraper',    #Whatever name you gave your application
                     username = 'scrapper_dan_982',      #your Reddit user name
                     password = 'ButtsButts1')      #your Reddit password

In [4]:
thunder = reddit.subreddit('thunder')

In [23]:
thunder_top = thunder.top(time_filter='year',limit = 10)

In [24]:
topics_dict = { "title":[],
                "score":[],
                "id":[],
                "url":[], 
                "comms_num": [],
                "created": [],
                "body":[]}

for item in thunder_top:
    topics_dict['subreddit'] = 'thunder'
    topics_dict["title"].append(item.title)
    topics_dict["score"].append(item.score)
    topics_dict["id"].append(item.id)
    topics_dict["url"].append(item.url)
    topics_dict["comms_num"].append(item.num_comments)
    topics_dict["created"].append(item.created)
    topics_dict["body"].append(item.selftext)

In [25]:
subreddit_top = pd.DataFrame(topics_dict)

In [26]:
subreddit_top.head()

,title,score,id,url,comms_num,created,body,subreddit
0,"Ah shit, here we go again",2830,bgr2z4,https://i.redd.it/xj8z21brj5u21.jpg,89,1.556114e+09,,thunder
1,MVP. Upvote this image so that when you google...,2667,ap0ja5,https://i.imgur.com/9KzKHpj.jpg,56,1.549801e+09,,thunder
2,Congratulations to Serge Ibaka on his Champion...,1818,c0ffjd,https://i.redd.it/fhyx1ousu8431.jpg,73,1.560513e+09,,thunder
3,T-Ferg reaction to amazing Westbrook pass,1418,ba25zu,https://v.redd.it/jio6mybdplq21,47,1.554567e+09,,thunder
4,Another One.,1294,bgqlwt,https://i.redd.it/bjafkbhk95u21.png,84,1.556111e+09,,thunder

In [13]:
subreddit_top['created']=subreddit_top['created'].map(lambda x: dt.datetime.fromtimestamp(x) )

In [14]:
subreddit_top.head()

,title,score,id,url,comms_num,created,body,subreddit
0,Joining a 73 win team and act like you earned ...,4468,6gxezo,https://www.reddit.com/r/Thunder/comments/6gxe...,755,2017-06-13 06:49:44,"Fuck Kevin Durant, no respect for that bitch.",thunder
1,"Ah shit, here we go again",2830,bgr2z4,https://i.redd.it/xj8z21brj5u21.jpg,89,2019-04-24 08:59:14,,thunder
2,MVP. Upvote this image so that when you google...,2669,ap0ja5,https://i.imgur.com/9KzKHpj.jpg,56,2019-02-10 06:10:32,,thunder
3,BEST Mustache ever. If this gets enough upvote...,2418,5nh3is,https://i.redd.it/3p6et3v0e79y.jpg,51,2017-01-12 05:49:26,,thunder
4,How many upvotes can we get for Mr.Thunder?,2196,8ih39t,http://imgur.com/c2GjJeD,47,2018-05-10 21:28:53,,thunder

In [15]:
#https://stackoverflow.com/questions/997514/how-to-convert-datetime-to-a-number-with-a-precision-greater-than-days-in-t-sql


#date date has formate of datetime.date(year,month,day)
def datetime_to_int(date):
    return 10000*date.year+100*date.month + date.day

In [16]:
datetime_to_int(dt.date(2016,7,3))

20160703

In [1]:
#https://old.reddit.com/r/redditdev/comments/6tb9lg/scraping_old_data_past_1k_post_limit_removed_posts/

In [2]:
#psaw

In [44]:
def mathy(listy,k):
    setty=set()
    for item in listy:
        #print(item)
        for otheritem in listy:
            #print(otheritem)
            if item-otheritem ==k:
                tupley=(item,otheritem)
                setty.add(tupley)
                #setty.append(tupley)
                set(setty)
    return setty

In [45]:
b =[7,6,5,2,4,3,1,5]

mathy(b,2)

{(3, 1), (4, 2), (5, 3), (6, 4), (7, 5)}